@CHARSET "UTF-8";

body {	

	font-size: 9pt;
	font-family:굴림;
	background-color: #eee;
}


td {font-size: 9pt;}

header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  background-color: #fff;
}

table.section {
	width: 60%;
	background-color: #ffffff;
}

